.type_section {
    margin: var(--mobile-margin-s);

    h2 {
        margin: 2rem;
        margin-top: var(--mobile-y-margin);
        font-size: 1.5rem;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 0.75rem;
    }
}

.type_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;

}

/* Adapted from: https://codepen.io/havardob/pen/ExVaELV  */
.tabs {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--cream);
    color: var(--black);
    padding: 0.5rem 0.25rem;
    margin: var(--mobile-y-margin) var(--mobile-margin-s);
    text-align: center;
    border-radius: 500px;
    font-size: clamp(14px, 2vw, 1.1rem);
    box-shadow: 0px 0px 10px 0px var(--cream);
    scroll-margin-top: 100px;

    * {
        z-index: 2;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"] {
        &:checked {
            &+label {
                font-weight: 700;
                color: var(--cream);
                background-color: var(--red);
            }
        }
    }

    .tab {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 500px;
        padding: clamp(0.25rem, 2vw, 0.5rem);
    }

    .glider {
        display: none;
    }
}

@media (min-width: 34em) {

    .type_section {
        margin: var(--mobile-margin-m);
    }

    .tabs {
        margin: var(--mobile-margin-m);
    }

}

@media (min-width:45em) {
    .type_section {
        max-width: var(--desktop-max-w);
        margin: 2rem auto;

        h2 {
            margin: 2rem;
            margin-top: 1.25rem;
            font-size: 2rem;
            text-underline-offset: 0.75rem;
        }
    }

    .type_gallery {
        gap: 1.25rem;
    }

    .tabs {
        margin: 2rem auto;
        width: 43.75rem;
        font-size: 1.25rem;
        justify-content: flex-start;
        padding: 0.5rem;
        gap: 1.75rem;

        .tab {
            transition: all 0.15s ease-in;
            width: 9.375rem;
            height: 2.5rem;
            flex: none;
        }

        .glider {
            left: 0.5rem;
            display: block;
            position: absolute;
            width: 9.375rem;
            height: 2.5rem;
            background-color: var(--red);
            z-index: 1;
            transition: 0.25s ease-out;
            border-radius: 500px;
        }

        input[id="popular"] {
            &:checked {
                &~.glider {
                    transform: translateX(0);
                }
            }
        }

        input[id="upcoming"] {
            &:checked {
                &~.glider {
                    transform: translateX(11.125rem);
                }
            }
        }

        input[id="nowPlaying"] {
            &:checked {
                &~.glider {
                    transform: translateX(22.25rem);
                }
            }
        }

        input[id="topRated"] {
            &:checked {
                &~.glider {
                    transform: translateX(534px);
                }
            }
        }
    }

}