.card {
    width: 200px;

    .poster {
        width: 100%;
    }

    .overview {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .save_btn {
        background-color: transparent;
    }
}