/*## Base ##*/
:root {
    --black: #17191F;
    --red: #A30D0B;
    --cream: #FFF9ED;
    --pink: #FF888C;
    --desktop-max-w: 75rem;
    --navbar-gap: 2rem;
    --mobile-margin-s: 0.5rem;
    --mobile-margin-m: 1.5rem;
    --mobile-y-margin: 1.25rem;
}

html {
    scrollbar-width: thin;
}


body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--black);
    color: var(--cream);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

.capitalize {
    text-transform: capitalize;
}


/*# Links #*/
a {

    color: var(--pink);
    text-underline-offset: 5px;

    &:hover {
        color: var(--cream);
    }

    &:focus,
    &:active {
        color: var(--cream);
        text-decoration: wavy underline;
    }

}

.social-link {
    svg {}

    &:hover svg {}

    &:active svg,
    &:focus svg {
        path {}
    }
}



/* Buttons */
button {
    background-color: var(--red);
    color: var(--cream);
    border: none;
    padding: 0.5rem 1rem;

    border-radius: 500px;

    &:hover {
        font-weight: 600;
    }

    &:active,
    &:focus {
        font-weight: 600;
        background-color: var(--pink);
        color: var(--black);
    }
}



.btn {

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    img {
        height: 1rem;
        object-fit: cover;
    }

    &.border-cream {
        border: 2px solid var(--cream);
    }

    &.body-cream {
        color: var(--red);
        background-color: var(--cream);
    }

    &.border-red {
        border: 2px solid var(--red);
    }

    &.small {
        padding: 0.25rem 0.5rem;
        width: fit-content;
    }

    &:hover {
        box-shadow: 0px 0px 15px 1px var(--cream);

        &.body-cream {
            box-shadow: 0px 0px 20px 1px var(--red);

        }

    }

    &:active,
    &:focus {

        box-shadow: 0px 0px 20px 1px var(--pink);

        &.body-cream {
            box-shadow: 0px 0px 20px 1px var(--pink);

        }


    }
}

/*# Elements #*/
/* Loading and error pages */
.loading-page,
.error-page {
    background-color: var(--black);
    color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 45em) {

    .error-page,
    .loading-page {
        h1 {
            font-size: 3.5rem;
        }
    }
}

/* Created by Temani Afif via https://css-loaders.com/spinner/  */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--cream);
    border-right-color: var(--red);
    animation: l2 1s infinite linear;
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}

/* Slider Styles */
.slick-dots.ghostly-dots {
    bottom: -2.5rem;
}

.slick-dots li .dots {
    display: block;
    background-color: var(--cream);
    border: 2px var(--cream) solid;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 500px;
}

.slick-dots li.slick-active .dots {
    background-color: var(--red);
    border: 2px var(--cream) solid;
}

.slick-dots li .dots::before {
    display: none;
}



.arrowButton.slick-prev,
.arrowButton.slick-next {
    z-index: 10;
    width: 1rem;
    height: 1rem;
}

.arrowButtonHero.slick-prev,
.arrowBtnCast.slick-prev,
.arrowBtnSimilar.slick-prev {
    left: -10px;
}

.arrowButtonHero.slick-next,
.arrowBtnCast.slick-next {
    right: -10px;
}

.arrowBtnSimilar.slick-next {
    right: 3px;
}

.arrowBtnSimilar.slick-prev {
    left: 3px;
}


.arrowBtnSimilar.arrowButton.slick-next,
.arrowBtnSimilar.arrowButton.slick-prev {

    background: radial-gradient(circle, rgba(255, 249, 237, 0.8) 0%, rgba(255, 249, 237, 0) 86%);
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;

    svg path {
        stroke: var(--black);
    }

    &:active,
    &:focus {
        svg path {
            stroke: var(--red);
        }
    }

}

.arrowButton.slick-disabled {
    display: none;
}

.arrowButton {
    transition: all 0.2s ease-in-out;


    svg {
        transition: all 0.2s ease-in-out;
        height: 100%;
        width: auto;
        transform: scale(1);
    }

    &:hover {
        svg {
            transform: scale(1.1);
        }
    }

    &:active,
    &:focus {
        svg path {
            stroke: var(--red);
        }
    }

}


.arrowButton::before {
    display: none;
}

@media (min-width: 45em) {

    .arrowButton.slick-prev,
    .arrowButton.slick-next {
        width: 1.5rem;
        height: 1.5rem;
    }

    .arrowButtonHero.slick-prev {
        left: 0;
        top: 55%;
    }

    .arrowButtonHero.slick-next {
        right: 0;
        top: 55%;
    }

    .arrowBtnSimilar.slick-next {
        right: -10px;
    }

    .arrowBtnSimilar.slick-prev {
        left: -10px;
    }


    .arrowBtnSimilar.arrowButton.slick-next,
    .arrowBtnSimilar.arrowButton.slick-prev {

        background: none;
        padding: 0;

        svg path {
            stroke: var(--cream);
        }

    }
}

@media (min-width: 68em) {

    .arrowButtonHero.slick-prev {
        left: 30px;
        top: 55%;
    }

    .arrowButtonHero.slick-next {
        right: 30px;
        top: 55%;
    }

    .arrowBtnSimilar.slick-next {
        right: -20px;
    }

    .arrowBtnSimilar.slick-prev {
        left: -20px;
    }

}


/*## Components ##*/

/*# Header #*/
header {
    background-color: var(--cream);
    padding: 1rem;
    font-family: "Playfair Display", serif;
    position: fixed;
    z-index: 999;
    border-radius: 0 0 20px 20px;
    width: 100vw;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /* Links and buttons */
    .logo-link {
        height: 1.5rem;
        object-fit: cover;

        img {
            height: 100%;
            width: auto;
        }
    }

    .search-btn {
        order: -1;
    }

    .hamburger-btn,
    .search-btn {
        background: none;
        height: 1.5rem;
        width: auto;
        padding: 0;

        svg {
            height: 100%;

        }

        &:active,
        &:focus {
            svg path {
                stroke: var(--black);
            }
        }
    }

    .explore-expand {
        display: none;
    }


    a {
        color: var(--black);
        text-decoration: none;

        &:hover {
            color: var(--red);
        }

        &:active,
        &:focus {
            color: var(--red);
            text-decoration: underline solid;
        }
    }

    /* Nav menu and Search */
    #nav-menu {
        position: absolute;
        top: 0;
        background-color: var(--cream);
        right: 0;
        height: 120vh;
        width: 50vw;
        padding: 1rem;
        padding-top: 4rem;
        z-index: -1;
        font-size: 2rem;
        transition: right 0.5s ease-out;

        ul {
            padding: 0;
        }

        li {
            list-style: none;
            margin: 0.75rem 0;
        }

        .explore-links {
            padding-left: 1rem;
            font-size: 1.5rem;
        }
    }

    #nav-menu.hidden {
        right: -200%;
    }

    .search-bar {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--cream);
        padding: 1rem;
        border-radius: 500px;


        form {
            display: flex;
            gap: 0.5rem;
            justify-content: center;

            input {
                width: 60vw;
            }
        }
    }


}


@media (min-width:45em) {

    header {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;


        .nav-container {
            justify-content: normal;
            position: relative;
            margin: 0 auto;
            max-width: var(--desktop-max-w);
        }

        .explore {
            display: flex;
            align-items: center;
            gap: .625rem;
        }

        /* Links and buttons */

        .explore-expand {
            display: block;
            padding: 0;
            background: none;
            width: 1rem;

            svg {
                width: 100%;
                height: auto;

            }

            &:active,
            &:focus {
                svg path {
                    stroke: var(--black);
                }
            }
        }

        .search-btn {
            order: initial;
            margin-left: var(--navbar-gap);
        }

        .search-btn,
        .explore-expand {
            svg {
                transition: all 0.3s ease-in-out;
                transform: scale(1);
            }

            &:hover {
                svg {
                    transform: scale(1.2);
                }
            }

        }


        .hamburger-btn {
            display: none;
        }


        /* Nav menu and Search */
        #nav-menu,
        #nav-menu.hidden {
            position: static;
            height: auto;
            z-index: 1000;
            padding: 0;
            flex-grow: 8;

            ul {
                display: flex;
                margin: 0;

                gap: var(--navbar-gap);
                justify-content: right;
                font-size: 1rem;
            }


            .explore-dropdown {
                position: absolute;
                height: auto;
                top: 70px;
                background-color: var(--cream);
                padding: 1rem;
                border-radius: 20px;
                transition: all 0.1s ease-out;
            }

            .explore-dropdown.hidden {
                height: 0;
                width: 175px;
                opacity: 0;

                .explore-links {
                    display: none;
                }
            }



            .explore-links {
                flex-direction: column;
                text-align: right;
                gap: 0.2rem;
            }
        }


        .search-bar {
            position: absolute;
            top: 70px;
            left: initial;
            right: 0;
            width: fit-content;
            opacity: 1;
            transform: translateY(0);
            animation: fade-in 0.1s ease-out;

            form input {
                width: 12.5rem;
            }
        }


    }
}

@keyframes fade-in {
    0% {
        /* Effect values */
        opacity: 0;
        transform: translateY(-20px);
    }
}






/*# Main #*/
main {
    min-height: 100vh;
}

/* Hero Image utils */
.fade_in {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.fade_in.loaded {
    opacity: 1;
}


/*# Footer #*/
footer {}

@media (min-width:45em) {
    footer {}
}