/*## Base ##*/
:root {
    --black: #17191F;
    --red: #A30D0B;
    --cream: #FFF9ED;
    --pink: #FF888C;
    --desktop-max-w: 50rem;
}

html {}

@media(prefers-reduced-motion) {}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--black);
    color: var(--cream);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

p {}

.capitalize {
    text-transform: capitalize;
}

@media (min-width:48em) {
    p {}
}

/*# Links #*/
a {

    color: var(--pink);
    text-underline-offset: 5px;

    &:hover {
        color: var(--cream);
    }

    &:focus,
    &:active {
        color: var(--cream);
        text-decoration: wavy underline;
    }

}

.social-link {
    svg {}

    &:hover svg {}

    &:active svg,
    &:focus svg {
        path {}
    }
}



/* Button links */
.btn {

    &:hover {}

    &:visited {}

    &:focus,
    &:active {}
}


/* Buttons */
button {

    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--red);
    color: var(--cream);
    border: none;
    border-radius: 500px;


    &.border-cream {
        border: 2px solid var(--cream);
    }

    &.body-cream {
        color: var(--red);
        background-color: var(--cream);
    }
}

/*# Elements #*/
/* Loading and error pages */
.loading-page,
.error-page {
    background-color: var(--black);
    color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Created by Temani Afif via https://css-loaders.com/spinner/  */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--cream);
    border-right-color: var(--red);
    animation: l2 1s infinite linear;
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}

/* Slider Styles */
.dots {
    display: block;
    background-color: var(--cream);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 500px;
}

.slick-dots li.slick-active .dots {
    background-color: var(--red);
    border: 2px var(--cream) solid;
}


/* Forms */



/*## Components ##*/

/*# Header #*/
header {
    background-color: var(--cream);
    padding: 1rem;
    font-family: "Playfair Display", serif;
    position: fixed;
    z-index: 999;
    border-radius: 0 0 20px 20px;
    width: 100vw;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Links and buttons */
    .logo-link {
        height: 1.5rem;
        object-fit: cover;

        img {
            height: 100%;
            width: auto;
        }
    }

    .search-btn {
        order: -1;
    }

    .hamburger-btn,
    .search-btn {
        background: none;
        height: 1.5rem;
        width: 1.5rem;
        padding: 0;

        svg {
            height: 100%;

        }

        &:active,
        &:focus {
            svg path {
                stroke: var(--black);
            }
        }
    }



    a {
        color: var(--black);
        text-decoration: none;

        &:hover {
            color: var(--red);
        }

        &:active,
        &:focus {
            color: var(--red);
            text-decoration: underline solid;
        }
    }

    /* Nav menu and Search */
    #nav-menu {
        position: absolute;
        top: 0;
        background-color: var(--cream);
        right: 0;
        height: 120vh;
        width: 50vw;
        padding: 1rem;
        padding-top: 4rem;
        z-index: -1;
        font-size: 2rem;
        transition: right 0.5s ease-out;

        ul {
            padding: 0;
        }

        li {
            list-style: none;
            margin: 0.75rem 0;
        }

        .explore-links {
            padding-left: 1rem;
            font-size: 1.5rem;
        }
    }

    #nav-menu.hidden {
        right: -200%;
    }

    .search-bar {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--cream);
        padding: 1rem;
        border-radius: 500px;


        form {
            display: flex;
            gap: 0.5rem;
            justify-content: center;

            input {
                width: 60vw;
            }
        }
    }


}


@media (min-width:48em) {

    header {

        #nav-menu,
        #nav-menu.hidden {
            display: block;
        }

        .hamburger-btn {
            display: none;
        }
    }
}







@media (min-width:48em) {
    header {}


    nav {}


}


/*# Main #*/
main {}

@media (min-width:48em) {
    main {}
}



/*# Footer #*/
footer {}

@media (min-width:48em) {
    footer {}
}